<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Profile</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-zinc-900 text-white min-h-screen flex flex-col items-center justify-center">

  <h1 class="text-3xl font-bold mb-4">Welcome, <%= user.FirstName %>
      <%= user.LastName %>!</h1>

  <p class="mb-8 text-center text-lg">You are logged in successfully.</p>
  
  <% if (plans && plans.length > 0 ) { %>
    <h2 class="text-2xl font-semibold mb-2">Your Active Plan</h2>
    <section class="flex gap-4">
      <% plans.forEach(plan=>{ %>

        <section class="mb-8 p-6 bg-gray-800 rounded-lg w-full max-w-md text-center ">
          <p class="text-xl mb-1">
            <%= plan.planId.name %> Plan
          </p>
          <p class="text-lg opacity-80">₹<%= plan.planId.price %> / <%= plan.planId.interval %>
          </p>
          <% if (plans.expiryDate) { %>
            <p class="mt-2 text-sm text-gray-400">Expires on: <%= new Date(plans.expiryDate).toLocaleDateString() %>
            </p>
            <% } %>
        </section>
        <% } ) %>
    </section>
    <% } else { %>
      <p class="mb-8 text-center text-gray-400">You don't have an active subscription plan.</p>
      <% } %>

        <div class="flex gap-4">
          <a href="/update" class="bg-yellow-500 px-4 py-2 rounded">Update Account</a>
          <a href="/logout" class="bg-red-600 px-4 py-2 rounded">Log Out</a>
          <a href="/delete/<%= user._id %>" class="bg-red-600 px-4 py-2 rounded">Delete</a>
          <a href="/subscription"
            class="inline-block bg-indigo-600 hover:bg-indigo-700 text-white font-semibold text-sm px-5 py-2 rounded-lg shadow-md transition duration-200">
            View Subscription Plans
          </a>
        </div>

</body>

</html>